body {
    font-family: Arial, sans-serif;
    background-color: #FFD100;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 10px;
}

#calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7 colonnes */
    gap: 8px;
    margin-top: 20px;
}

.day {
    background: white;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
    font-weight: bold;
}

.day:hover {
    background: #ffe066;
    transform: scale(1.05);
}

.day.empty {
    background: transparent;
    cursor: default;
}